@charset "utf-8";
#wrapper{width:1500px;
		position:relative;
		margin:0 auto;}

#header{width:1400px;
	position:relative;
	height:200px;
	overflow:hidden;
	margin-left:50px;
}

#container{width:1400px;
					position:relative;

					margin-left:50px;}

#footer{width:1400px;
					position:relative;
					height:100px;
					margin:0 auto;}