@charset "utf-8";

/*로고*/
h1{text-align:center;
	padding:35px 0 0 0;}

/*유저메뉴*/
#header{background:url(../images/usermenu_bg.gif) no-repeat;}
.user_L{position:absolute;
				top:3px; left:20px;}
.user_L li{float:left;
				margin-right:23px;}
.user_R{position:absolute;
				top:9px; right:10px;}
.user_R li{float:left;
				margin-right:10px;}



/*주메뉴*/
body{background:url(../images/gnb_bg.gif) repeat-x 0 100px;}
#gnb{width:1000px;
			height:85px;
			position:relative;
			overflow:hidden;}
.gnbmenu{position:absolute;
					top:10px;
					left:0;}

.gnbmenu > li{float:left;
					margin:0 0 0 81px;
					padding:10px;}
.gnbmenu > li:first-child{margin:0;}
.gnbmenu > li:hover{background:url(../images/gnb_select.gif) no-repeat center 30px;}

/*서브메뉴*/
.gnbmenu li ul{position:absolute;
						top:50px;}
.gnbmenu li ul li{float:left;
							margin:0 0 0 10px;
							background:url(../images/sub_line.gif) no-repeat; 
							height:50px;
							padding-left:10px;}
.gnbmenu li ul li:first-child{margin:0;
											background:none;
											padding:0;}

.submenu1{left:10px; display:;}
.submenu2{left:90px; display:;}
.submenu3{left:325px; display:;}
.submenu4{left:195px; display:;}
.submenu5{left:200px; display:;}
.submenu6{left:337px; display:;}

