@charset "utf-8";

#wrapper{width:1000px;
				overflow:hidden;
				position:relative;
				margin:0 auto;
}

#header{width:1000px;
			overflow:hidden;
			position:relative;}

#container{width:1000px;
				overflow:hidden;
				position:relative;
				padding:5px;}

#footer{width:1000px;
			overflow:hidden;
			position:relative;}