@charset "utf-8";

@font-face {
    font-family:'Nanum';
    font-weight:400;
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothic.woff') format('woff'),
		 url('font/NanumGothic.ttf') format('truetype');
}

html,body,div,header,section,nav,a,img,p,footer,
h1,h2,h3,h4,ul,li,span,strong{margin:0; padding:0; vertical-align:middle;}
body{font-size:12px;color:#333;font-family:"돋음",dotum,sans-serif;}
ul{list-style-type:none;}
img{border:none;}
a:link{text-decoration:none; color:#333;}
a:visited{text-decoration:none; color:#666;}
a:hover, a:active, a:focus{text-decoration:underline; color:#333;}
address{font-style:normal;}
.skip, select, legend{position:absolute;top:-9999px;width:0;height:0;overflow:hidden;}

/* layout */
#wrapper{width:640px;position:relative;overflow:hidden;margin:0 auto;}
#header,#container,#footer{width:100%;overflow:hidden;position:relative;}

/* header */
header .top{background:url(../images/topline.png) repeat-x 0 25px;padding-top:5px;height:30px;}
header .top ul{}
header .top ul li{float:left;margin-left:5px;}
header .topbtn_R{position:absolute;top:5px; right:5px;margin-left:30px;}
header .topbtn_R li{background:url(../images/icon_line.png) no-repeat;padding-left:10px;}
header .topbtn_R li:first-child{background:none;}

header h1{text-align:center;padding:20px;}
header #gnb{background:url(../images/gnb_bg.png) repeat-x;height:38px;}
header #gnb ul{padding:10px;text-align:center;width:100%;}
header #gnb ul li{float:left;width:25%;}

/* footer */
footer{text-align:center;}
footer .usermenu{padding:5px 0;margin:30px 0 10px;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;font-weight:bold;overflow:hidden;width:100%;}
footer .usermenu li{float:left;width:33.3%;}
footer .address{padding:5px 0;}

@media screen and (max-width:640px){
#wrapper{width:100%;}
}












