@charset "utf-8";
#footer{margin-top:10px;
			background:url(../images/footer_bg.gif) repeat-x;
			padding:10px;}
.footerlogo{padding:10px 20px 0 30px;

					float:left;}
.footermenu{padding-top:17px;}
.footermenu li{float:left;
						padding-left:20px;
						background:url(../images/footermenu_line.gif) no-repeat 10px 0;}
.footermenu li:first-child{background:none;}
address img{margin:10px 0 0 20px;}
