@charset "utf-8";
@import url(reset.css);
@import url(layout.css);
@import url(header.css);
@import url(footer.css);

.undermain{margin:15px 0;
				overflow:hidden;}

#visual{position:relative;
			width:1000px;
			height:370px;
			overflow:hidden;}
#visual li{float:left;
					width:2014px;
					}
#visual img{width:1000px;}

#section1{width:226px;
				float:left;}


			.mon{position:absolute;
					top:55px; left:12px;}

			#calendar{height:260px;
								position:relative;
								background:url(../images/calendar_bg.gif) no-repeat;}

			#calendar h3{padding:6px 0 0 15px;}

			.mon table{width:200px;}

			.mon caption{padding-bottom:20px;
											font-weight:bold;
											font-size:15px;
											color:#333;
											text-align:center;}

			.mon td{text-align:center;}
			.mon .hover{background:#b3c8ff;}

			.mon table tbody td a:hover{font-weight:bold !important; color:blue;}
			.mon th{color:#c3c3c3;}
			.mon th, .mon td{padding:5px 2px;}

			.cal_btnL{position:absolute;
							top:0; left:15px;
							margin-top:30px;}
			.cal_btnR{position:absolute;
							top:0; right:0;
							margin-top:30px;}

			#calendar p{position:absolute;
								top:20px; right:12px;}



			#downbanner li{margin:22px 0 0 0;}


#section2{width:505px;
				margin:0 15px;
				float:left;
				height:;}

		#searchlink{position:relative;}
	
		#searchlink input{width:455px;
									height:25px;
									padding-left:5px;}

		#searchlink img{width:30px;
							height:30px;
							margin-left:5px;}
		

		#hotnews{background:url(../images/hotnewsbg.gif) no-repeat 0 0;
						width:500px;
						margin:10px 0 15px 0;
						height:32px;
						overflow:hidden;}
		#hotnews li{margin-left:40px;
							line-height:2.7;}
		

		#news{position:relative;
					height:170px;
					background:url(../images/newstitle_line.gif) repeat-x 0 25px; }
		#news h3{float:left;}
		#news ul{position:absolute;
						top:25px; left:0;
						margin-top:5px;
						}
		#news ul li{line-height:2.2;
						overflow:hidden;
						width:500px;
						border-bottom:1px dotted #c3c3c3;}
		#news .more{position:absolute;
								top:11px; right:5px;}
		.subject{float:left;}
		.date{float:right;}
		
		
		
		#album{clear:both;
					position:relative;
					margin:20px 0 2px 0;
					overflow:hidden;
					}
		#album h3{margin-bottom:2px;}
		.photo li{float:left;
						margin:1px;
						}
		.photo li:first-child{margin-left:5px;}
		.photo img{width:122px;}
		#album .more{position:absolute;
					top:30px; right:10px;}
		
		



#section3{width:237px;
				float:left;}

		.video img{width:300px;
							text-align:center;}

		.lunch{margin:10px 0;
					position:relative;}
		.more{position:absolute;
					top:13px; right:10px;}
		
		.import{width:236px;
					height:201px;
					overflow:hidden;
					background:url(../images/importbg.gif) no-repeat;
					position:relative;}
		.import h3{margin:15px 0 5px 10px;}
		.mini{width:200px;
				height:100px;
				margin:35px 0 10px 17px;
				overflow:hidden;
				text-align:center;}
		.mini img{margin:0 0 10px 0;
						height:45px;
						width:130px;}
		.import .more{position:absolute;
								top:23px; right:12px;}
		.import .btnL{position:absolute;
								top:45px;
								left:105px;}
		.import .btnR{position:absolute;
								bottom:15px;
								left:105px;}
		


#banner{width:1000px;
				height:85px;
				background:url(../images/bannerzon_bg.gif) no-repeat;
				overflow:hidden;
				position:relative;
				padding:10px;}
#banner h3{margin:7px;
					float:left;}

.banner_btn{position:absolute;
					top:50px; left:19px;
					width:100px;
					height:50px;
					float:left;}

.banner_list{margin:5px 0 0 94px;
					width:870px;
					height:50px;
					overflow:hidden;
					position:relative;
					top:0; right:0;}
.bannerlist{width:2604px;
				position:absolute;
				top:0; left:0;}
.bannerlist li{float:left;}
.bannerlist img{width:200px;
						height:50px;
						float:left;
						padding-left:17px;}






