@charset "utf-8";

#wrapper{width:100%;
		position:relative;
		overflow:hidden;
		}

#header{width:1000px;

		position:relative;
		margin:0 auto;}

#contents{width:1000px;min-height:620px;
		overflow:hidden;
		position:relative;
		margin:0 auto;}

#footer{width:1000px;
	overflow:hidden;
	position:relative;
	margin:0 auto;}


#wrapper,#headerwrap,#footerwrap,#container{width:100%;}

