@charset "utf-8";

.main .part1{clear:both;width:100%;}

.main .visual{position:relative;float:left;width:75%;}
.main .visual img{width:100%;}
.main .popupimg{position:absolute;top:70px; right:10px;cursor:pointer;float:left;}
.main .pop_btn{position:absolute;top:51px; right:15px;}
.main .pop_btn li{float:left;margin-left:3px;}

.main .right{float:right;width:20%;}

.main .login{margin:15px 0;}
.main .login h2{}
.main .login input[type="text"],
.main .login input[type="password"]{width:135px;height:20px;margin:5px 0;padding-left:3px;}

.main .lo_btn{margin:5px;}
.main .lo_btn .color{color:#c3c3c3;}


.main .part2{clear:both;padding:5px 0;height:110px;background:url(../images/fo_bg.gif) no-repeat 0 0 / 1000px 110px;}

.main .local{position:relative;}
.main .local li{width:20%;float:left;}
.main .local h3{margin:8px 15px 0 15px;}

.main .list1 li{position:absolute; top:35px; left:15px;}
.main .list2 li{position:absolute; top:35px; left:215px;}
.main .list3 li{position:absolute; top:35px; left:415px;}
.main .list4 li{position:absolute; top:35px; left:615px;}
.main .list5 li{position:absolute; top:35px; left:815px;}

.main .lo_btn1{position:absolute; top:9px; left:160px; float:left;}
.main .lo_btn2{position:absolute; top:9px; left:360px; float:left;}
.main .lo_btn3{position:absolute; top:9px; left:560px; float:left;}
.main .lo_btn4{position:absolute; top:9px; left:760px; float:left;}
.main .lo_btn5{position:absolute; top:9px; left:960px; float:left;}


.main .part3{position:relative;overflow:hidden;}

.main .quick{width:25%;float:left;}
.main .quick ul{}
.main .quick ul li{float:left;width:50%;}

.main .notice{width:45%;float:left;position:relative;}
.main .notice h3{}
.main .more{position:absolute;top:0; right:5px;}
.main .notice .img{width:100%;height:130px;margin-right:10px;}

.main .guide{float:right;width:30%;}
.main .info1{clear:both;}
.main .info1 p{display:block;text-align:center;}

.main .info2{text-align:center;}
.main .info2 h3{margin:20px 0 5px 30px;text-align:left;}

/* sub공통 */
.sub .under{width:100%;overflow:hidden;position:relative;margin-top:10px;}
.sub .part1{float:left;width:20%;}
.sub .menu ul li,.left_b ul li{margin:5px 0;}

.sub .part2{float:left;width:67%;margin:0 20px;}
.sub .top{float:right;}
.sub .load li{float:left;padding:0 10px;background:url(../images/location_bar.gif) no-repeat 0px 3px;}
.sub .load li:first-child a{vertical-align:top;}
.sub .load li:first-child{background:none;}

.sub .icon{float:right;margin-top:5px;}
.sub .icon li{float:left;margin-left:5px;}


/* sub1 */
.sub01 .content{position:relative;}
.sub01 .content h3{margin:15px 0;}
.sub01 .content form{background:url(../images/loginBox_bg.gif) repeat-x;border:3px solid #E5E5E5;padding:40px 0 20px 0;text-align:center;}
.sub01 form > img{position:absolute;top:45px; left:10px;}
.sub01 input{border:3px solid #CCCCCC;height:20px;margin-right:10px;}
.sub01 input:hover{border:3px solid #44B414;}
.sub01 label{font-weight:bold;color:#4C4C4C;}

.sub01 .arrow1{color:#999999;margin:10px 0;}
.sub01 .arrow1 span{color:#F76D1A;font-weight:bold;}
.sub01 .join{display:inline-block;}
.sub01 .join > li{float:left;margin-left:10px;font-weight:bold;}

.sub01 .arrow2{background:url(../images/login_bar.gif) no-repeat 0 20px;padding-top:40px;margin-left:35px;}
.sub01 .arrow2 > p{clear:both;background:url(../images/arrow_desc.gif) no-repeat 0 9px;padding:5px;text-align:left;}

.sub01 .quick{width:*;text-align:center;background:url(../images/qm_bg.gif) repeat-y;position:absolute;right:0px;top:0px;}
.sub01 .quick ul li{padding:5px 0 0 0;}
.sub01 .line{background:url(../images/qm_line.gif) no-repeat 5px 0;margin:5px 0;}


/* sub2 */
.sub02 .under{width:100%;overflow:hidden;position:relative;margin-top:10px;}

.sub02 strong{font-weight:bold;display:none;}
.sub02 strong ol li,.green{color:#5BA033;}
.sub02 strong span{color:#F97602;}

.sub02 .quick{width:*;text-align:center;background:url(../images/qm_bg.gif) repeat-y;position:absolute;right:0px;top:0px;}
.sub02 .quick ul li{padding:5px 0 0 0;}
.sub02 .line{background:url(../images/qm_line.gif) no-repeat 5px 0;margin:5px 0;}




/*780(브라우저 가로폭)*/
@media screen and (max-width:780px){
/* main */
.main .reservation,.main .login{display:none;}
.main .visual{width:100%;overflow:hidden;}
.main .reservation li{float:left;}

.main .popupimg{position:absolute;top:75px;right:12px;cursor:pointer;float:left;}
.main .pop_btn{position:absolute;top:52px;right:15px;cursor:pointer;}
.main .pop_btn li{float:left;margin-left:4px;}


.main .part2{background:url(../images/fo_bg.gif) no-repeat 0 0/761px 110px;width:100%;overflow:hidden;}
.main .local li{width:20%;}
.main .list1 li{position:absolute; top:35px; left:15px;}
.main .list2 li{position:absolute; top:35px; left:165px;}
.main .list3 li{position:absolute; top:35px; left:315px;}
.main .list4 li{position:absolute; top:35px; left:470px;}
.main .list5 li{position:absolute; top:35px; left:620px;}

.main .lo_btn1{position:absolute; top:9px; left:130px; float:left;}
.main .lo_btn2{position:absolute; top:9px; left:283px; float:left;}
.main .lo_btn3{position:absolute; top:9px; left:430px; float:left;}
.main .lo_btn4{position:absolute; top:9px; left:585px; float:left;}
.main .lo_btn5{position:absolute; top:9px; left:730px; float:left;}

.main .list1 img,.main .list2 img,.main .list3 img,.main .list4 img,.main .list5 img{width:140px; height:55px;}

.main .quick{clear:both;width:60%;}
.main .quick li{float:left;}
.main .notice{display:none;}
.main .guide{float:left;width:40%}

.main .info1 a{margin-left:10px;}
.main .info2 a{margin-right:20px;}
.main .info2 h3{margin:15px 0 5px 0;}


/* sub공통 */
.sub .gnb,.sub .quick,.sub label{display:none;}

/* sub1 */
.sub01 .part1 img{width:150px;}
.sub01 .menu ul li,.left_b ul li{margin:5px 0;}
.sub01 .arrow2{background:url(../images/login_bar.gif) no-repeat 0 20px/520px 1px;padding-top:40px;margin-left:5px;}

/* sub2 */
.sub02 .part1 img{width:150px;}
.sub02 .menu ul li,.left_b ul li{margin:5px 0;}

}


/*640(브라우저 가로폭)*/
@media screen and (max-width:640px){
/* sub공통 */
.sub .part1{display:none;}
.sub .part2{float:none;width:95%;margin:0 auto;}
.sub01 .content form{margin-top:20px;}
}

/*360(브라우저 가로폭)*/
@media screen and (max-width:360px){

/* main */
.main .visual{display:none;}
.main .reservation li{float:left;width:100%;}

.main .part2{width:100%;overflow:hidden;background:none;height:280px;position:relative;}
.main .local li{width:50%;}
.main .local h3{float:left;height:80px;}
.main .local li:first-child{margin-top:0;}
.main .list1 li{position:absolute; top:35px; left:15px;}
.main .list2 li{position:absolute; top:35px; left:185px;}
.main .list3 li{position:absolute; top:120px; left:15px;}
.main .list4 li{position:absolute; top:120px; left:185px;}
.main .list5 li{position:absolute; top:207px; left:15px;}

.main .lo_btn1{position:absolute; top:9px; left:130px; float:left;}
.main .lo_btn2{position:absolute; top:9px; left:300px; float:left;}
.main .lo_btn3{position:absolute; top:102px; left:130px; float:left;}
.main .lo_btn4{position:absolute; top:102px; left:300px; float:left;}
.main .lo_btn5{position:absolute; top:187px; left:130px; float:left;}

.main .list1 img,.main .list2 img,.main .list3 img,.main .list4 img,.main .list5 img{width:140px; height:55px;}

.main .info1 a{margin-left:10px;}
.main .info2{display:none;}

.br{display:block;}

/* sub공통 */
.sub .top,.sub .load,.sub .content h3,.sub form > img{display:none;}
.sub .under{margin-top:0;}

/* sub1 */
.sub01 .menu ul li,.left_b ul li{margin:5px 0;}

.sub01 .content form{background:url(../images/loginBox_bg.gif) repeat-x;border:3px solid #E5E5E5;padding:10px 0;text-align:center;}
.sub01 input{width:50%;display:block;margin:0 auto 5px;}
.sub01 .login{width:50px;}

.sub01 .arrow1{color:#999999;margin:10px 0;}
.sub01 .arrow1 span{color:#F76D1A;font-weight:bold;}

.sub01 .join{display:inline-block;}
.sub01 .join > li{float:left;margin-left:3px;font-weight:bold;}

.sub01 .arrow2{background:url(../images/login_bar.gif) no-repeat 0 5px/200px 1px;padding-top:10px;}

/* sub2 */
.sub02 .menu ul li,.left_b ul li{margin:5px 0;}
.sub02 .intro > img{width:100%;}


}


